<!doctype html>
<html>
<head>
	<title>cartelera</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  
	<style>
		html,body{
			background-image: url('https://img.freepik.com/foto-gratis/composicion-flat-lay-objetos-cine_23-2148115449.jpg?size=626&ext=jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			font-family: 'Numans', sans-serif;
		}
		h1{
			color:white;
			text-align:center;
		}
	</style>
</head>

<body>

	<nav class="navbar navbar-expand-sm  bg-dark navbar-dark">
  		<ul class="navbar-nav">
    		<li class="nav-item">
    			<h3>
      				<a class="nav-link" href="http://localhost:8080/">Inicion <i class='fas fa-house-user'></i></a>
      			</h3>
    		</li>
   			<li class="nav-item">
    			<h3>
      				<a class="nav-link" href="http://localhost:8080/cartelera">Cartelera <i class='fas  fa-film'></i></a>
     			</h3>
    		</li>
    		<li class="nav-item">
       			<h3>
      				<a class="nav-link" href="http://localhost:8080/boletos">Boletos <i class='fas fa-money-bill'></i></a>
      			</h3>
    		</li>
    	</ul>
	</nav><br>
	<div class="container"><h1>Lista de películas </h1></div><br>
	<div class="container-sm p-3 my-3 ">
		<ul class="list-group">
		  	<li class="list-group-item"> película 1...</li>
		</ul>
    </div>
</body>
</html>